# ==========================
# Sécurité & Secrets
# ==========================
.env
*.env
*.secret
*.key
*.pem
*.crt

# ==========================
# WireGuard & VPN
# ==========================
config/wireguard/
*.conf

# ==========================
# Sauvegardes & Archives
# ==========================
backup/*
!backup/.gitkeep
backups/
*.tar
*.tar.gz

# ==========================
# Données Docker & Logs
# ==========================
docker/*/data/
docker/*/volumes/
*.log

# ==========================
# Cache & Éditeurs
# ==========================
.cache/
.vscode/
.idea/

# ==========================
# Système (OS)
# ==========================
.DS_Store
Thumbs.db
